@mixin button {
  background-color: $blue;
  color: white;
  padding: 18px 40px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2%;
}
