@import '../variables';
/* section 3*/
.sectionThree__headers {
  max-width: 1410px;
  margin: 80px auto 0 auto;
  @media (max-width: 1500px) {
    margin-inline: 30px;
  }
  @media (max-width: 767px) {
    margin: 40px 15px 0 15px;
  }
}

.sectionThree__content {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
}

.content__container {
  max-width: 1410px;
  margin: 0 auto;
  padding-bottom: 80px;
  @media (max-width: 1500px) {
    margin-inline: 30px;
  }
  @media (max-width: 767px) {
    margin-inline: 15px;
    padding-bottom: 40pxs;
  }
}

.contentOne {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 26px;
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px 0 30px 0;
  }
}

.contentOne__element {
  padding: 30px 79px;
  text-align: center;
  @media (max-width: 1500px) {
    padding: 30px 39px;
  }
  @media (max-width: 767px) {
    padding: 15px 79px;
  }
  h1 {
    color: white;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: 4%;
    margin: 0;
    white-space: nowrap;
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 35px;
    }
  }
  h3 {
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2%;
    margin: 0;
    white-space: nowrap;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.contentTwo {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 15px;
  }
}

.contentTwo__block {
  background-color: white;
  padding: 30px;
  @media (max-width: 767px) {
    padding: 20px;
  }
  h4 {
    font-family: $inter-font;
    margin: 0;
    font-weight: 800px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 4.5%;
    margin-bottom: 34px;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  p {
    font-family: $inter-font;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4%;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
